annotated-types==0.7.0
beautifulsoup4==4.13.4
certifi==2025.7.9
charset-normalizer==3.4.2
idna==3.10
pip==24.0
pydantic==2.11.7
pydantic-core==2.33.2
requests==2.32.4
soupsieve==2.7
typing-extensions==4.14.1
typing-inspection==0.4.1
urllib3==2.5.0
uv==0.7.20
